@layer components {
  .header {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid;
    border-color: color-mix(in oklab, var(--color-black) 10%, transparent);
    backdrop-filter: blur(10px);
    padding-inline: 1rem;

    div {
      width: 100%;
      max-width: 500px;
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      padding-block: 1rem;

      h1 {
        align-self: center;
      }

      button[aria-controls="tech-stack-dialog"] {
        padding: 0.5rem;
        border-radius: 99rem;
        border: 1px solid
          color-mix(in oklab, var(--color-black) 10%, transparent);
        align-self: center;
        display: flex;
        column-gap: 0.25rem;

        &:hover {
          background-color: var(--color-gray-200);
        }

        img {
          width: 1.25rem;
        }

        span {
          white-space: nowrap;
          padding-inline-end: 0.25rem;
        }
      }
    }
  }
}
