.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}
.shadow-md {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}
.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

/* Animation */
.fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.fade-out {
  animation: fade-out 0.3s ease-in forwards;
}

.fade-up {
  animation: fade-up 0.3s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    translate: 0% 6px;
  }
  100% {
    opacity: 1;
    translate: 0% 0%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    translate: 0% 0%;
  }
  100% {
    opacity: 0;
    translate: 10% 0%;
  }
}

@keyframes fade-up {
  0% {
    translate: 0% 100%;
  }
  100% {
    translate: 0% 0%;
  }
}
