span.task-text {
  flex-grow: 1;
  padding: 0.5rem;
}

input.task-text {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: outline 0.1s ease-out, box-shadow 0.1s ease-out;
  outline: 2px solid color-mix(in oklab, var(--color-black) 0%, transparent);

  &:focus {
    outline: 2px solid color-mix(in oklab, var(--color-black) 20%, transparent);
  }
}

button {
  cursor: pointer;
  background-color: var(--color-gray-100);
  transition: background-color 0.15s ease;
}
