/* Inter & Noto Sans JP */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..600;1,14..32,300..600&family=Noto+Sans+JP:wght@300..600&display=swap");

body {
  width: 100%;
  min-height: 100dvh;
  font-family: var(--font-inter), var(--font-noto-sans-jp);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-100);
  z-index: 100;

  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}

h1,
h2,
p {
  color: #333;
  text-align: center;
}

hgroup {
  margin-inline-start: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
}

main {
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  margin-block-start: 4rem;
}

footer {
  position: sticky;
  top: 100%;
  width: 100%;
  text-align: center;
  border-top: 1px solid #333;
}

button {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  transition: background-color 0.15s ease;
}
